<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Gorilaz', root_path, class: 'navbar-brand' %>
      <!-- <%= link_to image_tag('gorila_logo.png', class: "logo"), root_path, class: "navbar-brand" %> -->
    </div>
    <% if user_signed_in? %>
      <div class="navbar-text navbar-left">
        <%= link_to 'Add Member', new_member_path %>
      </div>
    <% end %>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to(current_user.email, edit_user_registration_path) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to('Sign in', new_user_session_path) %></li>
          <li><%= link_to('Sign up', new_user_registration_path) %></li>
        <% end %>
      </ul>
      <%= form_tag(members_path, method: :get, id: "search-form", class: "navbar-form navbar-right") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Last name", class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</nav>
