<div class="panel panel-default">
  <div class="panel-heading"><%= t(belt_name(belt)) %>
    <span class="badge belt-badge"><%= belt_count(belt) %></span>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= belt_count(belt, 0) %></span>
      <%= t('Zero stripes') %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= belt_count(belt, 1) %></span>
      <%= t('One stripe') %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= belt_count(belt, 2) %></span>
      <%= t('Two stripes') %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= belt_count(belt, 3) %></span>
      <%= t('Three stripes') %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= belt_count(belt, 4) %></span>
      <%= t('Four stripes') %>
    </li>
  </ul>
</div>
