<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :date_birth %><br>
    <%= f.date_select :date_birth, start_year: 1950, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :date_joined %><br>
    <%= f.date_select :date_joined, start_year: 2011, end_year: Time.now.year, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :belt %><br>
    <%= f.select :belt, [['White','1'],['Blue','2'],['Purple','3'],['Brown','4'],['Black','5']], class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :stripes %><br>
    <%= f.select :stripes, [0,1,2,3,4], class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :avatar %><br>
    <%= image_tag(@member.avatar, class: "avatar") %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
