<h2>Academia Gorila Members</h2>
<%= link_to 'Add Member', new_member_path %>

<div class="row table-header">
  <span class="col-md-2 table-monkey"><%= sort_link "first_name" %></span>
  <span class="col-md-2 table-monkey"><%= sort_link "last_name" %></span>
  <span class="col-md-2 table-joined"><%= sort_link "date_joined" %></span>
  <span class="col-md-6 table-belt"><%= sort_link "belt" %></span>
</div>

<% @members.each do |member| %>
  <div class="row table-row">
    <div class="col-md-3 member-name">
      <%= link_to image_tag(member.avatar, class: "avatar_small"), member %><%= link_to member.fullname, member %>
    </div>
    <div class="col-md-2 member-joined">
      <%= member.date_joined %>
    </div>
    <div class="col-md-4 member-belt">
      <%= render partial: 'layouts/belt', locals: {belt: member.belt, stripes: member.stripes} %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Show', member %> |
      <%= link_to 'Edit', edit_member_path(member) %> |
      <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>


