<h2>Academia Gorila Members</h2>
<%= link_to 'Add Member', new_member_path %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Monkey</th>
      <th>Joined</th>
      <th>Belt</th>
      <th>Stripes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.avatar, member %> <%= link_to member.fullname, member %></td>
        <td><%= member.date_joined %></td>
        <td><%= member.belt %></td>
        <td><%= member.stripes %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
