
<%= @member.avatar %>

<p>
  <h3><%= @member.fullname %></h3>
</p>

<p>
  <strong>Belt:</strong>
  <%= @member.belt %>
  <%= @member.stripes %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @member.date_joined %>
</p>

<p>
  <strong>Born:</strong>
  <%= @member.date_birth %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
