<div class="row">
  <div class="col-md-3">
    <%= image_tag(@member.avatar, class: "avatar") %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h3><%= @member.fullname %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 show-belt">
        <%= render partial: 'layouts/belt', locals: {belt: @member.belt, stripes: @member.stripes} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong><%= t(:Joined) %>:</strong>
        <%= @member.date_joined %>
        <br/>
        <strong><%= t(:Born) %>:</strong>
        <%= @member.date_birth %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <strong><%= t(:Description) %>:</strong>
        <%= @member.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to t('Edit'), edit_member_path(@member) %> |
        <%= link_to t('Back'), members_path %>
      </div>
    </div>
  </div>
</div>
